PORT=3001
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5433/payment_verification?schema=public
JWT_ACCESS_SECRET=super-secret-access-token-key-change-in-prod
JWT_REFRESH_SECRET=super-secret-refresh-token-key-change-in-prod
JWT_EXPIRES_IN=1d
VERIFY_ET_API_KEY=mock-verify-et-api-key
VERIFY_ET_BASE_URL=https://verify.et
NODE_ENV=development
